body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

/*Page 1 Contents:*/

.tsbLogoContainer {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.tsbLogo {
    display: flex;
    align-items: center;
    width: 25vh;
    margin: 0;
    padding: 0;
}

.titleScreen {
    display: flex;
    justify-content: center;
    text-align: center; 
    flex-direction: column;
    margin-top: 20vh;
}

.mainTitle {
    font-size: 13vh;
    padding: 0;
    margin: 0;
}

.subTitle {
    font-size: 2vh;
    padding: 0;
    margin: 0;
}

.titleScreenButtonsContainer {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.titleScreenButtons {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    margin-top: 5vh;
    max-width: fit-content;
}

.tsbLinks {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

.tsbLinks:visited {
    text-decoration: none;
    color: inherit;

}

.tsbPlay {
    font-size: 4vh;
}
.tsbHost {
    font-size: 4vh;
}
.tsbRules {
    font-size: 4vh;
}
.tsbCredits {
    font-size: 4vh;
}
.tsbSettings {
    font-size: 4vh;
}

.tsbPlay:hover {
    cursor: pointer;
    background-color: red;
    color: black;
    border-radius: 1.5vh;
    padding: 0vh 2vh;
    margin: 0;
    transition: background-color 0.15s ease-in-out;
}

.tsbHost:hover {
    cursor: pointer;
    background-color: red;
    color: black;
    border-radius: 1.5vh;
    padding: 0vh 2vh;
    margin: 0;
    transition: background-color 0.15s ease-in-out;
}

.tsbRules:hover {
    cursor: pointer;
    background-color: red;
    color: black;
    border-radius: 1.5vh;
    padding: 0vh 2vh;
    margin: 0;
    transition: background-color 0.15s ease-in-out;
}

.tsbCredits:hover {
    cursor: pointer;
    background-color: red;
    color: black;
    border-radius: 1.5vh;
    padding: 0vh 2vh;
    margin: 0;
    transition: background-color 0.15s ease-in-out;
}

.tsbSettings:hover {
    cursor: pointer;
    background-color: red;
    color: black;
    border-radius: 1.5vh;
    padding: 0vh 2vh;
    margin: 0;
    transition: background-color 0.15s ease-in-out;
}

/*Page 2 [PLAY] Contents:*/

.page2 {
    background-image: url(assets/woodenTable.png);
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

.animateHandContainer {
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}

.options {
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.animateHand {
    background-color: red;
    color: black;
    border: none;
    padding: 1vh 3vh;
    font-weight: 600;
    border-radius: 1.5vh;
}

.animateHand:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.animateHandImageContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.animateHandImage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vh;
    height: 100px;
    margin-top: 35vh;
}

.animateHandImage img {
    width: 100%;
    height: auto;
    transition: transform .5s ease, opacity .5s ease;
    transform: translateY(50vh);
}

.animateHandImage img.animate {
    transform: translateY(0);
}

#readyButton {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    background-color: lightgray;
  }

#readyButton.ready {
    background-color: green;
    color: white;
    border-radius: 50%; /* make it circular when ready */
}