* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Joyride EXT';
    src: url('../fonts/JOYRIDEEXT.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Joyride WIDE';
    src: url('../fonts/JOYRIDEWIDE.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@keyframes zoom-in {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoom-out {
    0% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(180deg, rgb(102, 5, 5) 0%, rgb(14, 5, 5) 100%);
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: zoom-out 1000ms ease-out;
    overflow: hidden;
    z-index: 0;
}

.background video {
    width: 100vw;
    height: auto;
}

header {
    font-family: 'Joyride WIDE', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    animation: zoom-in 800ms ease-out;
    z-index: 1;
}

header h1 {
    font-size: 128px;
    color: #090909;
    letter-spacing: 8px;
    margin-bottom: 10px;
}

header h3 {
    font-size: 24px;
    margin-top: -1rem;
}

a {
    font-family: 'Joyride EXT', sans-serif;
    color: #090909;
    text-decoration: none;
    letter-spacing: 2px;
    transition: color 150ms ease;
}

a:hover {
    color: #ffffff;
    cursor: pointer;
}